{% extends "base.html" %}

{% block css%}
	<style type="text/css" >
#tableSet{
	width: 88%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 150px;
}
#selectShow{
	height: 34px;
    width: 70px;
    margin-left: 50px;

}
.twoSet {
	margin-top: 10px;

}
#searchSet{
	float: right;
    margin-right: 150px;
    line-height: 30px;
	margin-bottom: 20px;
}
.selectFrotStype{
	padding: 17px 4px 10px 10px;
    font: 20px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-family: arial,'Hiragino Sans GB',;
    color: #999;
}
#selectarea{
	BORDER-RIGHT: #e8e8e8 1px solid;
    BORDER-TOP: #e8e8e8 1px solid;
    BORDER-LEFT: #e8e8e8 1px solid;
    BORDER-BOTTOM: #e8e8e8 1px solid;
    PADDING: 0px 70px 50px 21px;
    HEIGHT: 250px;
    WIDTH: 88%;
    margin-left: 30px;
}
#form_set{
    margin-top: 20px;
}
#buttonSet{
	padding-top: 10px;
	height: 39px;
	padding-left: 743px;
}
.selectSizeSet{
	width: 175px;
    height: 30px;
}
	</style>
{% endblock %}

{% block section %}

<div id="bodySet">
	<legend id="legent">检索-院校</legend>
	<div id="selectarea">
		<form action="/search/" method="post" id="form_set" >
				<div class="container">
				   <div class="row" >
					   <div class="col-xs-6 col-sm-5">
						   <label class="selectFrotStype">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						   <input type="text" name="schoolName">
					   </div>
						   <div class="col-xs-6 col-sm-5">
							   <label class="selectFrotStype">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							   <input type="text" name="school_local">
						   </div>
<!--					   <div class="col-xs-6 col-sm-5">-->
<!--						   <label class="selectFrotStype">专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
<!--						   <input type="text" name="professionName">-->
<!--					   </div>-->
				   </div>
					<div class="row" >
					   <div class="col-xs-6 col-sm-5">
						   <label class="selectFrotStype">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<!--						   <input type="text" name="year">-->
						   <select name="year" class="selectSizeSet">
								<option value="2016">2016</option>
								<option value="2017">2017</option>
							   	<option value="2018">2018</option>
								<option value="" selected ="selected">全部</option>
							</select>
					   </div>
					   <div class="col-xs-6 col-sm-5">
						   <label class="selectFrotStype">位&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						   <input type="text" name="gradeSort">
					   </div>

				   </div>
					<div class="row" >
					   <div class="col-xs-6 col-sm-5">
						   <label class="selectFrotStype">院校层次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<!--						   <input type="text" name="schooltype">-->
						   <select name="schooltype" class="selectSizeSet">
								<option value="211">211</option>
								<option value="985">985</option>
<!--							   	<option value="211/985">211/985</option>-->
							   	<option value="中外合作">中外合作</option>
								<option value="" selected ="selected">全部</option>
							</select>
					   </div>
					   <div class="col-xs-6 col-sm-5">
						   <label class="selectFrotStype">院校综合排名</label>
						   <input type="text" name="schoolSort">
					   </div>

				   </div>
					<div id="buttonSet">
						   <input type="submit" >
					   </div>
<!--					<div class="row" >-->
<!--					   -->
<!--&lt;!&ndash;					   <div class="col-xs-6 col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;						   <button style="margin-left: 130px;margin-top:40px;"  class="btn btn-danger col-sm-1" type="submit" name="submit">提交</button>&ndash;&gt;-->

<!--&lt;!&ndash;					   </div>&ndash;&gt;-->

<!--				   </div>-->
			</div>
			</form>
	</div>
<!--	<div>-->
<!--		<div class="twoSet">-->

<!--			<div id="searchSet">-->
<!--				Search:<input type="search"  aria-controls="dataTables-example">-->
<!--			</div>-->

<!--		</div>-->

		<div id="tableSet">
			<table class="table table-striped table-bordered table-hover" id="dataTables-example">
					<tr>
						<th aria-controls="dataTables-example">院校名称</th>
						<th aria-controls="dataTables-example">招生代码</th>
						<th aria-controls="dataTables-example">综合排名</th>
						<th aria-controls="dataTables-example" >所在地</th>
						<th aria-controls="dataTables-example" >院校层次</th>
						<th aria-controls="dataTables-example">主管部门</th>
						<th aria-controls="dataTables-example">年份-位次</th>
						<th aria-controls="dataTables-example">院校介绍</th>
					</tr>
						{% if schoolinfDataList %}
						{% for schoolinfData in schoolinfDataList %}


							<tr>
								<th aria-controls="dataTables-example"><a href="/schoolProfessionShow/?schoolName={{schoolinfData.schoolName}}" target="_blank">{{schoolinfData.schoolName}}</a> </th>
								<th aria-controls="dataTables-example">{{schoolinfData.schoolId}}</th>
								<th aria-controls="dataTables-example">{{schoolinfData.schoolSort}}</th>
								<th aria-controls="dataTables-example" >{{schoolinfData.school_local}}</th>
								<th aria-controls="dataTables-example" >{{schoolinfData.schooltype}}</th>
								<th aria-controls="dataTables-example">{{schoolinfData.schoolHead}}</th>
								<th aria-controls="dataTables-example">{{schoolinfData.yearLocal}}</th>
								<th aria-controls="dataTables-example"><a href="https://baike.baidu.com/item/{{schoolinfData.schoolName}}" target="_blank">院校简介</a></th>
							</tr>

						{% endfor %}
						{% endif %}

				</table>
		</div>



</div>

{% endblock %}


{% block script %}
<script>
	$(function () {
		$('.pushwork').each(function () {
			var pushworkId=$(this).attr("values");
			console.log(pushworkId)
			$.ajax({
                url: "/home/getSubscribe/",
                type: "POST",

                data: {
                    "pushworkId": pushworkId
                },
                // dataType: "json",
                success:function(arg) {
                    var data=jQuery.parseJSON(arg);
                    console.log(data,data["status"]);
					// console.log("test")
                    if(data["status"]){
                        $("[checkboxID="+"'"+pushworkId+"'"+"]").bootstrapSwitch('state', true);
					}
					else{
                        $("[checkboxID="+"'"+pushworkId+"'"+"]").bootstrapSwitch('state', false);
					}
                },
                false:function(arg) {
                    console.log("test1")
					// alert(arg)
                }
            })

        })
    })
</script>

<script>
	function setStatus(checkbox){
	    var taskID=$(checkbox).attr('checkboxID');

	    var status=$(checkbox).bootstrapSwitch('state');
	    console.log(taskID,status);
		$.ajax({
                url: "/home/setSubscribe/",
                type: "POST",

                data: {
                    "taskID": taskID,
					"status":status,
                },
                // dataType: "json",
                success: function (arg) {
                    if(!arg){
                        alert(arg)
					}
                },
                false: function (arg) {
					 alert(arg)
                }
            })
	}
</script>
{% endblock %}